In [ ]:
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
matplotlib.use('Agg')
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Geodataframe downloaded from https://thematicmapping.org/downloads/world_borders.php

import geopandas as gpd
worldmap = gpd.read_file('C:\\Users\\Aaron\\Downloads\\TM_WORLD_BORDERS-0.3\\TM_WORLD_BORDERS-0.3.shp')
worldmap.head()

,FIPS,ISO2,ISO3,UN,NAME,AREA,POP2005,REGION,SUBREGION,LON,LAT,geometry
0,AC,AG,ATG,28,Antigua and Barbuda,44,83039,19,29,-61.783,17.078,"(POLYGON ((-61.686668 17.02444100000014, -61.7..."
1,AG,DZ,DZA,12,Algeria,238174,32854159,2,15,2.632,28.163,"POLYGON ((2.96361 36.802216, 2.981389 36.80693..."
2,AJ,AZ,AZE,31,Azerbaijan,8260,8352021,142,145,47.395,40.430,(POLYGON ((45.08332100000001 39.76804400000015...
3,AL,AL,ALB,8,Albania,2740,3153731,150,39,20.068,41.143,"POLYGON ((19.436214 41.021065, 19.450554 41.05..."
4,AM,AM,ARM,51,Armenia,2820,3017661,142,145,44.563,40.534,(POLYGON ((45.57305100000013 40.63248800000008...

In [3]:
#Life Expectancy Data downloaded from https://data.worldbank.org/indicator/sp.dyn.le00.in
yearlylifeexp = pd.read_csv('C:\\Users\\Aaron\\Downloads\\API_SP.DYN.LE00.IN_DS2_en_csv_v2_10576744\\API_SP.DYN.LE00.IN_DS2_en_csv_v2_10576744.csv')

In [4]:
#Merge map and life expectancy dataframes
lifeexp = worldmap.set_index('ISO3').join(yearlylifeexp.set_index('Country Code'))

In [5]:
print('Imported Life Expectancy Data contains',len(yearlylifeexp),'rows') #264 rows
print('Imported World Map Geodataframe contains',len(worldmap),'rows') #246 rows
print('Merged dataframe contains',len(lifeexp),'rows') #246 rows
lifeexp.head(3)

Imported Life Expectancy Data contains 264 rows
Imported World Map Geodataframe contains 246 rows
Merged dataframe contains 246 rows

,FIPS,ISO2,UN,NAME,AREA,POP2005,REGION,SUBREGION,LON,LAT,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
ISO3,,,,,,,,,,,,,,,,,,,,,
ATG,AC,AG,28,Antigua and Barbuda,44,83039,19,29,-61.783,17.078,...,75.247,75.412,75.574,75.733,75.892,76.050,76.207,76.364,76.519,NaN
DZA,AG,DZ,12,Algeria,238174,32854159,2,15,2.632,28.163,...,74.374,74.676,74.944,75.187,75.418,75.641,75.860,76.078,76.293,NaN
AZE,AJ,AZ,31,Azerbaijan,8260,8352021,142,145,47.395,40.430,...,70.646,70.987,71.260,71.478,71.656,71.800,71.921,72.026,72.123,NaN

In [6]:
years = ['1960', '1961', '1962', '1963', '1964', '1965',
       '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974',
       '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017']

In [7]:
#Setting vmin and vmax for plot
vmin, vmax = 0, np.ceil((lifeexp[years].max()).max()+5)
print(vmin)
print(vmax)

0
91.0

In [8]:
#Plots life expectancy on world map then saves as jpg
for year in years:
    fig = lifeexp.plot(column=year, figsize=(14,6), cmap='CMRmap_r', edgecolor='0.8', legend= True, vmin=vmin,vmax=vmax)
    plt.title('Global Life Expectancy from 1960 to 2017', fontsize=20)
    plt.axis('off')
    plt.text(0,-100,year,fontsize=15) #year is printed below x-axis
    plt.savefig('C:\\Users\\Aaron\\Documents\\lifeexp'+year+'.jpg')
    plt.close()
    print(year) #print year to check on progress

C:\Users\Aaron\Anaconda3\lib\site-packages\matplotlib\colors.py:512: RuntimeWarning: invalid value encountered in less
  xa[xa < 0] = -1

1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017

In [ ]:
#convert jpgs to gif

filenames = []
for year in years:
    filenames.append('lifeexp'+year+'.jpg')
    
kargs = {'duration': .3 }

import imageio
images = []
for filename in filenames:
    images.append(imageio.imread(filename))
imageio.mimsave('C:\\Users\\Aaron\\Documents\\lifeexp1960to2017.gif', images,**kargs)

In [ ]:
#Attempt to embed finished gif. Haven't got this working yet.

from IPython.display import Image
from IPython.display import display
display(Image(url='https://giphy.com/gifs/cmryzgPcd9DMuI6g2E'))

---

In [ ]:
#Second half of code plots the CHANGE in life expectancy

In [ ]:
#create new columns containing the change in life expectancy

lastyear = '1960' 
for year in years[1:]:
    lifeexp['Difference'+str(year)] = lifeexp[year]-lifeexp[lastyear]
    lastyear = year

In [ ]:
lifeexp = lifeexp.fillna(0) #Set change to 0 if unknown

In [ ]:
cols = []
for year in years[1:]:
    cols.append('Difference'+str(year))
print(cols)

['Difference1961', 'Difference1962', 'Difference1963', 'Difference1964', 'Difference1965', 'Difference1966', 'Difference1967', 'Difference1968', 'Difference1969', 'Difference1970', 'Difference1971', 'Difference1972', 'Difference1973', 'Difference1974', 'Difference1975', 'Difference1976', 'Difference1977', 'Difference1978', 'Difference1979', 'Difference1980', 'Difference1981', 'Difference1982', 'Difference1983', 'Difference1984', 'Difference1985', 'Difference1986', 'Difference1987', 'Difference1988', 'Difference1989', 'Difference1990', 'Difference1991', 'Difference1992', 'Difference1993', 'Difference1994', 'Difference1995', 'Difference1996', 'Difference1997', 'Difference1998', 'Difference1999', 'Difference2000', 'Difference2001', 'Difference2002', 'Difference2003', 'Difference2004', 'Difference2005', 'Difference2006', 'Difference2007', 'Difference2008', 'Difference2009', 'Difference2010', 'Difference2011', 'Difference2012', 'Difference2013', 'Difference2014', 'Difference2015', 'Difference2016', 'Difference2017']

In [ ]:
vmin, vmax = np.floor((lifeexp[cols].min()).min())-1, np.ceil((lifeexp[cols].max()).max())
print(vmin)
print(vmax)

-6.0
6.0

In [ ]:
yr = 1960
for year in cols:
    fig = lifeexp.plot(column=year, figsize=(14,6), cmap='PiYG',
            edgecolor='0.8', legend= True, vmin=vmin,vmax=vmax)
    plt.title('Annual Change in Life Expectancy from 1961 to 2017',
            fontsize=20)
    plt.axis('off')
    caption = str(yr)+' to '+str((yr+1)) #prints year range below x-axis
    plt.text(-30,-100,caption,fontsize=15)
    plt.savefig('C:\\Users\\Aaron\\Documents\\lifeexp'+year+'.jpg')
    plt.close()
    print(year)
    yr = yr+1

Difference1961
Difference1962
Difference1963
Difference1964
Difference1965
Difference1966
Difference1967
Difference1968
Difference1969
Difference1970
Difference1971

In [ ]:
#convert jpgs to gif

filenames = []
for year in cols:
    filenames.append('lifeexp'+year+'.jpg')

kargs = {'duration': .3 }
    
import imageio
images = []
for filename in filenames:
    images.append(imageio.imread(filename))
imageio.mimsave('C:\\Users\\Aaron\\Documents\\lifeexpdiff1960to2017.gif', images, **kargs)